<!DOCTYPE html>
<html>
  <head>
    <title>IwinDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">iWin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item text-light">
              <%= "#{current_user.name}  " %>
            </li>
            <li>
              "  "
            </li>
            <li class="nav-item">
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, type:"button", class:"btn btn-light btn-sm" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= button_to "Sign in", new_user_session_path, type:"button", class:"btn btn-light btn-sm"  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>


  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
